<?xml version="1.0"?>
<robot name="battery_new">
  <link name="base">
    <visual>
      <origin xyz="0 0 0.012" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder length="0.055" radius="0.009"/>
      </geometry>
      <material name="new_battery_green">
        <color rgba="0.1 0.9 0.1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.012" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder length="0.055" radius="0.009"/>
      </geometry>
    </collision>
  </link>
</robot>
