<?xml version='1.0' encoding='utf-8'?>
<robot name="device_box">
  <link name="base">
    <visual>
      <origin xyz="0 0 0.003" rpy="0 0 0" />
      <geometry>
        <box size="0.070 0.070 0.006" />
      </geometry>
      <material name="device_blue_dark">
        <color rgba="0.08 0.18 0.70 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.032 0 0.037" rpy="0 0 0" />
      <geometry>
        <box size="0.006 0.070 0.062" />
      </geometry>
      <material name="device_blue_dark">
        <color rgba="0.08 0.18 0.70 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0.032 0 0.037" rpy="0 0 0" />
      <geometry>
        <box size="0.006 0.070 0.062" />
      </geometry>
      <material name="device_blue_dark">
        <color rgba="0.08 0.18 0.70 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0 -0.032 0.037" rpy="0 0 0" />
      <geometry>
        <box size="0.058 0.006 0.062" />
      </geometry>
      <material name="device_blue_dark">
        <color rgba="0.08 0.18 0.70 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0 0.032 0.037" rpy="0 0 0" />
      <geometry>
        <box size="0.058 0.006 0.062" />
      </geometry>
      <material name="device_blue_dark">
        <color rgba="0.08 0.18 0.70 1" />
      </material>
    </visual>
    <collision name="planning_base_collision">
      <origin xyz="0 0 0.0015" rpy="0 0 0" />
      <geometry>
        <box size="0.070 0.070 0.003" />
      </geometry>
    </collision>
  </link>
</robot>