<?xml version="1.0"?>
<robot name="lid">
  <link name="base">
    <visual>
      <origin xyz="0 0 0.004" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.06 0.008"/>
      </geometry>
      <material name="lid_gray">
        <color rgba="0.75 0.75 0.75 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.004" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.06 0.008"/>
      </geometry>
    </collision>
  </link>
</robot>
