<?xml version='1.0' encoding='utf-8'?>
<robot name="device_box">
  <link name="base">
    <visual>
      <origin xyz="0 0 0.003" rpy="0 0 0" />
      <geometry>
        <box size="0.070000 0.100000 0.006000" />
      </geometry>
      <material name="device_blue_dark">
        <color rgba="0.08 0.18 0.70 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.032 0 0.037" rpy="0 0 0" />
      <geometry>
        <box size="0.006000 0.100000 0.062000" />
      </geometry>
      <material name="device_blue_dark">
        <color rgba="0.08 0.18 0.70 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0.032 0 0.037" rpy="0 0 0" />
      <geometry>
        <box size="0.006000 0.100000 0.062000" />
      </geometry>
      <material name="device_blue_dark">
        <color rgba="0.08 0.18 0.70 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 -0.047000 0.037000" rpy="0 0 0" />
      <geometry>
        <box size="0.058 0.006 0.062" />
      </geometry>
      <material name="device_blue_dark">
        <color rgba="0.08 0.18 0.70 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0.000000 0.047000 0.037000" rpy="0 0 0" />
      <geometry>
        <box size="0.058 0.006 0.062" />
      </geometry>
      <material name="device_blue_dark">
        <color rgba="0.08 0.18 0.70 1" />
      </material>
    </visual>
    <collision name="base_collision_1">
      <origin xyz="0.000000 0.000000 0.002000" rpy="0 0 0" />
      <geometry>
        <box size="0.070000 0.100000 0.004000" />
      </geometry>
    </collision>
    <collision name="base_collision_2">
      <origin xyz="-0.032000 0.000000 0.035000" rpy="0 0 0" />
      <geometry>
        <box size="0.006000 0.100000 0.058000" />
      </geometry>
    </collision>
    <collision name="base_collision_3">
      <origin xyz="0.032000 0.000000 0.035000" rpy="0 0 0" />
      <geometry>
        <box size="0.006000 0.100000 0.058000" />
      </geometry>
    </collision>
    <collision name="base_collision_4">
      <origin xyz="0.000000 -0.047000 0.035000" rpy="0 0 0" />
      <geometry>
        <box size="0.058000 0.006000 0.058000" />
      </geometry>
    </collision>
    <collision name="base_collision_5">
      <origin xyz="0.000000 0.047000 0.035000" rpy="0 0 0" />
      <geometry>
        <box size="0.058000 0.006000 0.058000" />
      </geometry>
    </collision>
  </link>
</robot>