<?xml version='1.0' encoding='utf-8'?>
<robot name="used_battery_box">
  <link name="base">
    <visual>
      <origin xyz="0 0 0.0025" rpy="0 0 0" />
      <geometry>
        <box size="0.070 0.070 0.005" />
      </geometry>
      <material name="used_box_red_dark">
        <color rgba="0.65 0.05 0.05 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.0325 0 0.0175" rpy="0 0 0" />
      <geometry>
        <box size="0.005 0.070 0.025" />
      </geometry>
      <material name="used_box_red_dark">
        <color rgba="0.65 0.05 0.05 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0.0325 0 0.0175" rpy="0 0 0" />
      <geometry>
        <box size="0.005 0.070 0.025" />
      </geometry>
      <material name="used_box_red_dark">
        <color rgba="0.65 0.05 0.05 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0 -0.0325 0.0175" rpy="0 0 0" />
      <geometry>
        <box size="0.060 0.005 0.025" />
      </geometry>
      <material name="used_box_red_dark">
        <color rgba="0.65 0.05 0.05 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0 0.0325 0.0175" rpy="0 0 0" />
      <geometry>
        <box size="0.060 0.005 0.025" />
      </geometry>
      <material name="used_box_red_dark">
        <color rgba="0.65 0.05 0.05 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0 -0.0355 0.0175" rpy="0 0 0" />
      <geometry>
        <box size="0.040 0.001 0.010" />
      </geometry>
      <material name="label_white">
        <color rgba="0.95 0.95 0.95 1" />
      </material>
    </visual>
    <collision name="base_collision_1">
      <origin xyz="0.000000 0.000000 0.001500" rpy="0 0 0" />
      <geometry>
        <box size="0.070000 0.070000 0.003000" />
      </geometry>
    </collision>
    <collision name="base_collision_2">
      <origin xyz="-0.0325 0 0.0175" rpy="0 0 0" />
      <geometry>
        <box size="0.005 0.070 0.025" />
      </geometry>
    </collision>
    <collision name="base_collision_3">
      <origin xyz="0.0325 0 0.0175" rpy="0 0 0" />
      <geometry>
        <box size="0.005 0.070 0.025" />
      </geometry>
    </collision>
    <collision name="base_collision_4">
      <origin xyz="0 -0.0325 0.0175" rpy="0 0 0" />
      <geometry>
        <box size="0.060 0.005 0.025" />
      </geometry>
    </collision>
    <collision name="base_collision_5">
      <origin xyz="0 0.0325 0.0175" rpy="0 0 0" />
      <geometry>
        <box size="0.060 0.005 0.025" />
      </geometry>
    </collision>
    <collision name="base_collision_6">
      <origin xyz="0 -0.0355 0.0175" rpy="0 0 0" />
      <geometry>
        <box size="0.040 0.001 0.010" />
      </geometry>
    </collision>
  </link>
</robot>