<?xml version="1.0"?>
<robot name="workspace_table">
  <link name="base">

    <!-- Superficie de mesa: cara superior en Z = 0, hacia abajo 30 mm -->
    <visual>
      <origin xyz="0 0 -0.015" rpy="0 0 0"/>
      <geometry>
        <box size="1.000 1.000 0.030"/>
      </geometry>
      <material name="table_wood">
        <color rgba="0.76 0.60 0.42 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.015" rpy="0 0 0"/>
      <geometry>
        <box size="1.000 1.000 0.030"/>
      </geometry>
    </collision>

  </link>
</robot>
