<?xml version='1.0' encoding='utf-8'?>
<robot name="lid">
  <link name="base">
    <visual>
      <origin xyz="0 0 0.004" rpy="0 0 0" />
      <geometry>
        <box size="0.072000 0.100000 0.008000" />
      </geometry>
      <material name="lid_gray">
        <color rgba="0.75 0.75 0.75 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.004" rpy="0 0 0" />
      <geometry>
        <box size="0.072000 0.100000 0.008000" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.0155" rpy="0 0 0" />
      <geometry>
        <box size="0.040 0.020 0.015" />
      </geometry>
      <material name="lid_handle">
        <color rgba="0.45 0.45 0.45 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0155" rpy="0 0 0" />
      <geometry>
        <box size="0.040 0.020 0.015" />
      </geometry>
    </collision>
  </link>
</robot>